* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: all;
    src: url("./AVANTN.ttf");
}

.main {
    height: 100%;
    width: 100%;

}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0D0D0D;
    flex-direction: column;
    color: #aca59b
}

.content h1 {
    font-size: 7rem;
    font-weight: 700;
    font-family: all;
    text-transform: uppercase;
}

.top svg{
    position: fixed;
    left: 6rem;
    z-index: 9999;
}
.top h2 {
    font-family: all;
    font-size: 2.2rem;
    letter-spacing: 0.4rem;
    position: fixed;
    right:4rem;
    z-index: 9999;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header h2 {
    font-family: all;
    font-size: 2.2rem;
    letter-spacing: 0.4rem;
    color: #c0b7aa
}

.first {
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    overflow: hidden;

}

.first h1 {
    transition: all ease 0.4s;
}

.second {

    height: 7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 1.2rem;
    overflow: hidden;
}

.second h1 {
    transition: all ease 0.4s;
    color:#f0431c;
}

.third {

    height: 9rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding-left: 2rem;
}

.third h1 {
    transition: all ease 0.4s;
}

.first:hover h1 {
    transform: translateY(-100%);
}

.second:hover h1 {
    transform: translateY(-100%);
}

.third:hover h1 {
    transform: translateY(-100%);
} 
.aboutme{
    background-color: #0D0D0D;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
   padding-top: 10rem;
}
.aboutmecontent{
    height: 100%;
    width: 60%;
    color: #4f4c4c;
      
} 
.aboutme h2{
    font-family: all;
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2rem;
    color:#d8d5d5
}
.aboutme h1{
    font-family: all;
    font-size: 4.2vw;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-weight: bolder; 
}
.aboutme-middle{
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills{
    background-color: #0D0D0D;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
}
.skills-content{
    height: 100%;
    width: 100%;
    color: #aca59b;
    position: relative;
}
.skills-content h2{
    font-family: all;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-left: 19rem;
}
.skills-content h1{
    font-family: all;
    font-size: 6rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-weight: bolder; 
    margin-left: 18.5rem;
} 
.frontend{
    width: 100%;
    height: 100%;
    border-bottom: 0.1rem solid   #423f3b;
    border-top: 0.1rem  solid #423f3b;
    position: relative;
  
}
.backend{
    width: 100%;
    height: 100%;
    border-bottom: 0.1rem solid   #423f3b;
    border-top: 0.1rem  solid #423f3b;
    position: relative;
  
}
.database{
    width: 100%;
    height: 100%;
    border-bottom: 0.1rem solid   #423f3b;
    border-top: 0.1rem  solid #423f3b;
    position: relative;
   
}
.dsa{
    width: 100%;
    height: 100%;
    border-bottom: 0.1rem solid   #423f3b;
    border-top: 0.1rem  solid #423f3b;
    position: relative;
}
.frontend1{
    position: absolute;
    background-color: #f0431c;
    color:#0D0D0D;
    width: 100%;
    height:100%;
    transform: scaleY(0%);
    transform-origin: center center;
    transition: all ease 0.4s;
    top:0;
    display: flex;
    align-items: center;
    padding-left: 18.5rem;
    gap:5vw;
}
.overlay1{
    position: absolute;
    background-color:transparent;
    width: 100%;
    height: 100%;
    z-index: 3;
    top:0;
}
.overlay1 h1{
   opacity: 0;
}
.backend1{
    position: absolute;
    top:0;
    background-color: #f0431c;
    color:#0D0D0D;
    width: 100%;
    height: 100%;
    transform: scaleY(0%);
    transform-origin: center center;
    transition: all ease 0.4s;
    display: flex;
    align-items: center;
    padding-left: 18.5rem;
    gap:5vw;
}
.overlay2{
    position: absolute;
    background-color:transparent;
    width: 100%;
    height: 100%;
    z-index: 3;
    top:0;
}
.overlay2 h1{
   opacity: 0; 
}
.database1{
    position: absolute;
    background-color: #f0431c;
    color:#0D0D0D;
    width: 100%;
    height:100%;
    transform: scaleY(0%);
    transform-origin: center center;
    transition: all ease 0.4s;
    top:0;
    display: flex;
    align-items: center;
    padding-left: 18.5rem;
    gap:5vw;
}
.overlay3{
    position: absolute;
    background-color:transparent;
    width: 100%;
    height: 100%;
    z-index: 3;
    top:0;
}
.overlay3 h1{
   opacity: 0;
}
.dsa1{
    position: absolute;
    background-color: #f0431c;
    color:#0D0D0D;
    width: 100%;
    height:100%;
    transform: scaleY(0%);
    transform-origin: center center;
    transition: all ease 0.4s;
    top:0;
    display: flex;
    align-items: center;
    padding-left: 18.5rem;
    gap:5vw;
}
.overlay4{
    position: absolute;
    background-color:transparent;
    width: 100%;
    height: 100%;
    z-index: 3;
    top:0;
}
.overlay4 h1{
   opacity: 0;
}
.project{
    background-color: #0D0D0D;
    min-height: 50vh;
    width: 100%;
    overflow: hidden;
}
.projectcontent{
    width: 100%;
    min-height: 90vh;
    color: #aca59b; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
}
.pro1{
    width: 100%;
    border-bottom: 0.1rem solid   #423f3b;
    border-top: 0.1rem  solid #423f3b;
    position: relative;
}
.pro1 h1{
    font-family: all;
    font-size: 6rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-weight: bolder; 
    margin-left: 18.5rem;
} 
.pro2{
    width: 100%;
    border-bottom: 0.1rem solid   #423f3b;
    border-top: 0.1rem  solid #423f3b;
    position: relative;
    margin-top: 8vw;
}
.pro2 h1{
    font-family: all;
    font-size: 6rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-weight: bolder; 
    margin-left: 18.5rem;
} 
.projectcontent h2{
    font-family: all;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 45rem;
}
.overlaypro1{
    height: 22rem;
    width:22rem;
    padding: 1rem 1rem;
    position: absolute;
    background: #f0431c;
    border-radius: 1rem;
    box-shadow: 5px 5px 30px #f0431c;
    opacity: 1;
    z-index:1;
}
.overlaypro1 h2{
    font-family: all;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #000000;
    margin-top:1.2rem;
    margin-bottom: 1.7rem;
}
.overlaypro1 h1{
    font-family: all;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: bolder; 
    color: black;
}
.laypro1{
    width: 100%;
    position: absolute;
    background: transparent;
    z-index: 3;
}
.laypro1 h1{
    font-family: all;
    font-size: 6rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-weight: bolder; 
    margin-left: 18.5rem;
    opacity: 0;
}
.overlaypro2{
    height: 21rem;
    width:21rem;
    padding: 1rem 1rem;
    position: absolute;
    background: #f0431c;
    border-radius: 1rem;
    box-shadow: 5px 5px 30px #f0431c;
    opacity: 1;
    top:22rem;
    z-index: 2;

}
.overlaypro2 h2{
    font-family: all;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    margin-top:1.2rem;
    margin-bottom: 1.7rem;
}
.overlaypro2 h1{
    font-family: all;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: bolder; 
    color:black;
}
.laypro2{
    width: 100%;
    position: absolute;
    background: transparent;
    z-index: 3;
}
.laypro2 h1{
    font-family: all;
    font-size: 6rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-weight: bolder; 
    margin-left: 18.5rem;
    opacity: 0;
}
.achievement{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-color: #0D0D0D;
 
}
.achievementcontent{
    min-height: 100vh;
    width: 100%;
    color: #aca59b;
}
.achievementcontent h2{
font-family: all;
font-size: 2rem;
letter-spacing: 0.4rem;
text-transform: uppercase;
font-weight: 600;
margin-bottom: 2rem;
margin-left: 19rem;
}
.achievementcontent h1{
    font-family: all;
    font-size: 5rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-weight: bolder; 
    margin-left: 18.5rem;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.Codechef{
    width: 100%;
    border-bottom: 0.1rem solid   #423f3b;
    border-top: 0.1rem  solid #423f3b;
    position: relative;
}
.Codechef1{
    position: absolute;
    top:0;
    background-color: #f0431c;
    color:#0D0D0D;
    width: 100%;
    height: 100%;
    transform: scaleY(0%);
    transform-origin: center center;
    transition: all ease 0.4s;
   
}
.Codechef1 h2{
    font-family: all;
    font-size: 3.7rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: bolder; 
    margin-left: 18.5rem;
    padding-top: 1rem;
}
.overlaycc1{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
}
.overlaycc1 h1{
    opacity: 0;
    font-family: all;
    font-size: 5.9rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-weight: bolder;
}
.Event{
    margin-top: 2rem;
    height:100%;
    width: 100%;
    border-bottom: 0.1rem solid   #423f3b;
    border-top: 0.1rem  solid #423f3b;
    position: relative;
    padding: 0 0;
}
.Event1{
    position: absolute;
    top:0;
    background-color: #f0431c;
    color:#0D0D0D;
    width: 100%;
    height:100%;
    transform: scaleY(0%);
    transform-origin: center center;
    transition: all ease 0.4s;
    display: flex;
    flex-direction: column;
    padding-top: .2vw;
}
.Event1 h2{
    font-family: all;
    font-size: 3.7rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: bolder; 
}
.overlaye1{
    position: absolute;
   top:0;
    width: 100%;
    height: 100%;
}
.overlaye1 h1{
    opacity: 0;
    font-family: all;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-weight: bolder; 
}
@media (max-width:600px) {
    .content {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #0D0D0D;
        flex-direction: column;
        color: #aca59b
    }

    .content h1 {
        font-size: 3.5rem;
        font-weight: 700;
        font-family: all;
        text-transform: uppercase;
        
    }
    .top{
        position: fixed;
        background-color: #0D0D0D;
        width: 100%;
        height: 5rem;
        top:0rem;
        z-index:9999
    }
    .top svg{
        left: 2rem;
        top:1rem;
    }
    .top h2 {
        font-family: all;
        font-size: 2.2rem;
        letter-spacing: 0.4rem;
        right:1rem;
        top:1.5rem;
    }

    .main :nth-child(4) {
        color: #EB5939;
    }

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1.7rem;
    }

    .header h2 {
        font-family: all;
        font-size: 2rem;
        margin-top: 2.3rem;
    }

    .first {

        height: 3.6rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;

    }

    .first h1 {
        transition: all ease 0.4s;
    }

    .second {

        height: 3.6rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }

    .second h1 {
        transition: all ease 0.4s;
    }

    .third {

        height: 3.6rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        padding-right: 1.2rem;
    }

    .third h1 {
        transition: all ease 0.4s;
    }

    .first:hover h1 {
        transform: translateY(-100%);
    }

    .second:hover h1 {
        transform: translateY(-100%);
    }

    .third:hover h1 {
        transform: translateY(-100%);
    }
    .aboutme{
        background-color: #0D0D0D;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        width: 100%;
        padding-top: 5rem;
    }
    .aboutmecontent{
        height: 100%;
        width: 100%;
        padding: 0 2rem;  
    } 
    .aboutme h2{
        font-family: all;
        font-size: 1.2rem;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    .aboutme h1{
        font-family: all;
        font-size:11vw;
        text-transform: uppercase;
        font-weight: bolder; 
        letter-spacing: 0rem;
    }
    .aboutme-middle{
     
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .skills{
        background-color: #0D0D0D;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        width: 100%;
       padding-top: 1rem;
    }
    .skills-content{
        height: 100%;
        width: 100%;
        color: #aca59b;
        position: relative;
    }
    .skills-content h2{
        font-family: all;
        font-size: 1.8rem;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 2rem;
        margin-left:2rem ;
    }
    .skills-content h1{
        font-family: all;
        font-size: 3.3rem;
        text-transform: uppercase;
        font-weight: bolder; 
        letter-spacing: 0.1rem;
        margin-left:1.8rem;
    } 
    .dsa1{
        position: absolute;
        background-color: #f0431c;
        color:#0D0D0D;
        width: 100%;
        height:100%;
        transform: scaleY(0%);
        transform-origin: center center;
        transition: all ease 0.4s;
        top:0;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        gap:5vw;
    }
    .database1{
        position: absolute;
        background-color: #f0431c;
        color:#0D0D0D;
        width: 100%;
        height:100%;
        transform: scaleY(0%);
        transform-origin: center center;
        transition: all ease 0.4s;
        top:0;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        gap:5vw;
    }
    .backend1{
        position: absolute;
        top:0;
        background-color: #f0431c;
        color:#0D0D0D;
        width: 100%;
        height: 100%;
        transform: scaleY(0%);
        transform-origin: center center;
        transition: all ease 0.4s;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        gap:5vw;
    }
    .frontend1{
        position: absolute;
        background-color: #f0431c;
        color:#0D0D0D;
        width: 100%;
        height:100%;
        transform: scaleY(0%);
        transform-origin: center center;
        transition: all ease 0.4s;
        top:0;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        gap:5vw;
    }
    .overlay1 h1{
       opacity: 0;
    }

    .overlay2 h1{
       opacity: 0; 
    }

    .overlay3 h1{
       opacity: 0;
    }
    
    .overlay4 h1{
       opacity: 0;
    }
    .project{
        background-color: #0D0D0D;
         height: 100%;
        width: 100%;
        padding-top: 0rem;
    
    }
    .projectcontent{
        width: 100%;
        height: 100%;
        color: #aca59b; 
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        position: relative;
    }
    .pro1{
        width: 100%;
        border-bottom: 0.1rem solid   #423f3b;
        border-top: 0.1rem  solid #423f3b;
    }
    .projectcontent h2{
        font-family: all;
        font-size: 2rem;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-right:4rem;
    }
    .pro1 h1{
        font-family: all;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: bolder; 
        letter-spacing: 0rem;
        margin-left:1.2rem;
    }
    .pro2{
        width: 100%;
        border-bottom: 0.1rem solid   #423f3b;
        border-top: 0.1rem  solid #423f3b;
    }
    .pro2 h1{
        font-family: all;
        font-size: 15vw;
        text-transform: uppercase;
        font-weight: bolder; 
        letter-spacing: 0rem;
        margin-left:1.2rem;
    } 
    .overlaypro1{
        height: 15rem;
        width:15rem;
        padding: 1rem 1rem;
        position: absolute;
        background: #f0431c;
        border-radius: 1rem;
        box-shadow: 5px 5px 30px #b3afa9;
        opacity: 0;
        
    }
    .overlaypro1 h2{
        font-family: all;
        font-size: 1rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-weight: 600;
        color:black;
        margin-top: 1.7rem;;
        margin-bottom: 1.3rem;
    }
    .overlaypro1 h1{
        font-family: all;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-weight: bolder; 
        color: black;
    }
    .laypro1{
        width: 100%;
        position: absolute;
      
    }
    .laypro1 h1{
        font-family: all;
        font-size: 15vw;
        text-transform: uppercase;
        font-weight: bolder; 
        letter-spacing: 0rem;
        margin-left:1.2rem;
    }
    .overlaypro2{
        height: 15rem;
        width:15rem;
        padding: 1rem 1rem;
        position: absolute;
        background: #f0431c;
        border-radius: 1rem;
        box-shadow: 5px 5px 30px #b3afa9;
        opacity: 0;
    
    }
    .overlaypro2 h2{
        font-family: all;
        font-size: 1rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-weight: 600;
        color: black;
        margin-top: 1.7rem;;
        margin-bottom: 1.3rem;
    }
    .overlaypro2 h1{
        font-family: all;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-weight: bolder; 
        color: black;
    }
    .laypro2{    
        width: 100%;
        position: absolute;
        
    }
    .laypro2 h1{
        font-family: all;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: bolder; 
        letter-spacing: 0rem;
        margin-left:1.2rem;
    }
    .achievement{
        background-color: #0D0D0D;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 50vh;
        width: 100%;
       padding-top:0rem;
       padding-bottom: 2rem;
    }
    .achievementcontent{
        min-height: 60vh;
        width: 100%;
        color: #aca59b;
       position: relative;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
    }
    .achievementcontent  h2{
        font-family: all;
        font-size: 1.8rem;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0rem;
        margin-left:1.8rem;
    }
    .achievementcontent h1{
        font-family: all;
        font-size: 13vw;
        text-transform: uppercase;
        font-weight: bolder; 
        letter-spacing: 0.1rem;
        margin-left:1.8rem;
    }
    .Codechef{
        width: 100%;
        border-bottom: 0.1rem solid   #423f3b;
        border-top: 0.1rem  solid #423f3b;
        position: relative;
    }
    .Codechef1{
        position: absolute;
        background-color: #f0431c;
        color:#0D0D0D;
        width: 100%;
        height: 100%;
        transform: scaleY(0%);
        transform-origin: center center;
        transition: all ease 0.4s;
        display: flex;
    }
    .Codechef1 h2{
        font-family: all;
        font-size: 1rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-weight: bolder; 
        margin-left: 1rem; 
        margin-top: 0;
    }
    .overlaycc1{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .overlaycc1 h1{
        opacity: 0;
    }
    .Event{
        margin-top: 1rem;
        width: 100%;
        border-bottom: 0.1rem solid   #423f3b;
        border-top: 0.1rem  solid #423f3b;
        position: relative;
       
    }
    .Event1{
        position: absolute;
        background-color: #f0431c;
        color:#0D0D0D;
        width: 100%;
        transform: scaleY(0%);
        transform-origin: center center;
        transition: all ease 0.4s;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .Event1 h2{
        font-family: all;
        font-size: 5vw;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-weight: bolder; 
        margin-left: 1rem; 
       margin-top: 0;
    }
    .overlaye1{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .overlaye1 h1{
        opacity: 0;
        font-size: 6.5rem;
    }
}